
.tenderFlexIcon {
  background: url('@/assets/icons/TenderFlex -- Logo.png');
  display: block;
  background-size: 300px;
  width: 300px;
  height: 59px;
  border: 1px solid white;
}

.rcorners1 {
  border-radius: 15px;
  border: 1px solid #ccc;
}