.loginForm {
    position: fixed;
    top: 26%;
    left: 36%;
    height: 400px;
    width: 400px;
}

.loginButton {
    width: 90%;
    background-color: #27aae1;
    color: white;
    padding: 14px 20px;
    margin: 5%;
    cursor: pointer;
    height: 60px;
}

input {
    height: 60px;
    width: 90%;
    padding: 12px 20px;
    margin: 5%;
    display: inline-block;
    box-sizing: border-box;
}

p {
    text-align: center;
    margin-top: 10%;
}

.loginIcon {
    position: fixed;
    top: 15%;
    left: 38%;
}