
.header {
    padding: 0.625rem 1rem;
    background-color: #27aae1;
    color: #f1f1f1;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
}

.headerIcon {
    display: flex;
    border-radius: 0.9375rem;
    border: 0.0625rem solid;
    background-color: white !important;
}

.content {
    margin-top: 6.25rem;
}

.iconContainer {
    display: flex;
    float: left;
}

.offersButtonContainer {
    background-color: #27aae1;
    display: flex;
    float: left;
    width: 12.5rem;
    height: 3.6875rem;
    margin-left: 0.625rem;
    margin-top: -0.625rem;
}

.offersButton {
    text-align: center;
    text-decoration: none;
}

.offersButton:hover {
    background-color: #068ac2;
    border-radius: 1.25rem;
    border: 0.0625rem solid #068ac2;
}

.tendersButtonContainer {
    background-color: #27aae1;
    display: flex;
    float: left;
    width: 15.5rem;
    height: 3.8rem;
    margin-top: -0.625rem;
    margin-left: 6.25rem;
    margin-right: 6.25rem;
}

.tendersButton {

    text-align: center;
    text-decoration: none;
}

.tendersButton:hover {
    background-color: #068ac2;
    border-radius: 1.25rem;
    border: 0.625rem solid #068ac2;
}

.createButtonContainer {
    background-color: #27aae1;
    display: flex;
    width: 12.5rem;
    height: 3.6875rem;
    margin-top: -0.625rem;
    float: right;
    margin-right: 6.25rem;
}

.createButton {
    display: flex;
    background-color: #0a50ad;
    font-size: 1.25rem;
    cursor: pointer;
    width: 12.5rem;
    height: 3.75rem;
    margin-top: 1rem;
    margin-left: 0.625rem;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 0.9375rem;
    border: 0.0625rem solid #0a50ad;
}

.createButton:hover {
    background-color: #073470;
    border-radius: 0.9375rem;
    border: 0.0625rem solid #073470;
}

.exitButtonContainer {
    background-color: #27aae1;
    display: flex;
    float: right;
    width: 3.6875rem;
    height: 3.6875rem;
    margin-right: 0.9375rem;
    margin-top: -0.625rem;
}

.exitButton {
    display: flex;
    background-color: #27aae1;
    border: none;
    font-size: 1.75rem;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 1.25rem;
    margin-left: 0.625rem;
}

.exitButton:hover {
    background-color: #068ac2;
    border-radius: 0.9375rem;
    border: 1px solid #068ac2;
}

.tenderCount {
    margin-left: 0.3125rem;
    display: flex;
    background-color: #51da47;
    border-radius: 0.9375rem;
    border: 0.0625rem solid #13c206;
    width: 1.5rem;
}

.offerCount {
    margin-left: 0.625rem;
    display: flex;
    background-color: #51da47;
    border-radius: 0.9375rem;
    border: 0.0625rem solid #13c206;
}